.img{
    width: 50%;
    height: 100%;
}
.comment{
    width: 300px;
    float: right;
    margin-bottom: 1px;
    background-color: gray;
}
.scroll {
    overflow: auto;
    height: 80%;
  }
.btn-primary {
    background-color: wheat;
}
