.img{
    width: 60%;
    height: 100%;
    float: left;
}
.comment{
    width: 300px;
    float: right;
    margin-bottom: 1px;
    background-color: gray;
}
.scroll {
    overflow: auto;
    height: 80%;
  }
.btn-primary {
    background-color: gray;
}
.komentar{
    width: 300px;
    float: right;
    ;
}
