<div *ngIf="posts">

  <mat-card class="example-card" id="post">
    <div>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image class="avatar" [src]="posts.iconUrl" alt="Photo of a Shiba Inu">
        </div>
        <mat-card-title class="title">{{posts.username}}</mat-card-title>
        <!--<mat-card-subtitle class="location">Lokacija</mat-card-subtitle>----->
      </mat-card-header>
    </div>
    
    <div class="seperate">
      <img mat-card-image id="imageId" [src]="posts.imageUrl" alt="Photo of a Shiba Inu" (doublelclick)="onLike()">
      <div *ngIf="posts.flagLiked">
        <img mat-card-image class='heartImg' src='/assets/heart.png' alt='You already liked this'>
      </div>
    </div>

    <mat-card-actions #group="matCardActions">
      <button mat-button value="You like this!" title="Like!" class="likeButton" (click)="onLike()">
        <img class="heartButton" src="/assets/heart.png" alt="Heart">
      </button>
      <button mat-button title="Share!" class="shareButton">
        <img class="shareButtonImg" src="/assets/share.png" alt="Share">
      </button>
      
      <p class="numberLikes">Likes: {{ posts.numberLikes }}</p>
    </mat-card-actions>

    <mat-card-content>
      <div>
        <p *ngIf="posts.description">
          <em class="descUser">
            {{posts.username}}
          </em>
          :{{posts.description}}
        </p>
      </div>
      <hr class="descHR">
      <div>
        <p *ngFor="let number of posts.comments">
          <em>{{number.username}}</em> 
          :{{number.comment}}
        </p>
      </div>
      
      <form #comment="ngForm">
        <input class="postComment" type="text" name="Comment" placeholder="Add a comment" ngModel>
        <input type="submit" value="Comment" class="commentButton">
      </form>
    </mat-card-content>

  </mat-card>

</div>