.example-card {
    width:  500px;
    margin-block-start: 100px;
    margin-block-end: 100px;
    background-color: white;
    margin: auto;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.numberLikes{
  font-style: italic;
}

.likesColor{
  color: red;
}
.heartButton{
  left: 0px;
  height: 40px;
  width: 40px;
  margin: 0px;
  background-color: transparent;
}

.shareButtonImg{
  left: 5px;
  height: 40px;
  width: 40px;
  margin: 0px;
  background-color: white;
}

  .title{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
  }

  .commentButton:hover{
    color: purple;
    ;
  }

 

  .likes{
    font-style: italic;
  }

  .descUser{
    font-weight: bold;
  }

  .descHR{
    margin-top: 5px;
    margin-bottom: 10px;
  }


  .likeButton:active{
    background-color: red;
  }
  .shareButton:active{
    background-color: lightgrey;
  }

  .seperate{
    position: relative;
    margin-top: 5px;
  }

  .location{
    text-decoration-style: dashed;
    font-style: italic;
  }

  .example-header-image {
    margin-inline-start: 10px;
    margin-inline-end: 25px;
    margin-block-start: 10px;
    margin-block-end: 25px;
  }

  .postComment{
    background: none;
    border: 0.5px;
  }

  .button{
      border: none;
  }